# Игнорирование временных файлов и каталогов
vendor/
node_modules/
*.log
*.sql

# Игнорирование файлов конфигурации
.env

# Игнорирование файлов автоматически созданных IDE
.idea/
.vscode/

# Игнорирование файлов конфигурации Composer
composer.lock